@import '@flaticon/flaticon-uicons/css/all/all.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-background: 0 0 100%;
    --color-foreground: 0 0 0%;
    --color-surface: 0 0 100%;
    --color-border: 0 0 96%;
    --color-input: 0 0 97%;
    --color-primary: 0 0 0%;
    --color-primary-foreground: 0 0 96%;
    --color-secondary: 0 0 96%;
    --color-secondary-foreground: 0 0 0%;
    --color-accent: 230 100 56%;
    --color-accent-foreground: 231 64 96%;
  }
}

@layer base {
  * {
    @apply box-border;
  }

  body {
    @apply min-h-screen !text-sm tablet:!text-base font-medium text-foreground bg-background leading-normal !font-sans antialiased selection:bg-blue-50;
    font-variation-settings: normal;
    font-feature-settings:
      'rlig' 1,
      'calt' 1;
  }

  .fi {
    @apply flex justify-center items-center text-sm;
  }
}
